<!doctype html>
<html class="no-js" lang="pl">
<head>
    <meta charset="utf-8">
    <title>{% block title %}ECORP - PurpleClouds IDP application{% endblock %}</title>
    <meta name="description" content="ECORP - PurpleClouds IDP application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-material-design.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180850695-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-180850695-1');
    </script>
</head>
<body>
{% block body %}{% endblock %}
<script src="{{ asset('assets/bootstrap/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/popper.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap-material-design.min.js') }}"></script>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
