<!doctype html>
<html class="no-js" lang="pl">

<head>
    <meta charset="utf-8">
    <title>{% block title %}ECORP - PurpleClouds IDP application{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta name="description" content="ECORP - PurpleClouds IDP application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/bootstrap-material-design.min.css') }}">
</head>
<body>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="{{ asset('assets/bootstrap/bootstrap-material-design.min.js') }}" async></script>

</body>

</html>
